<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_INewsServiceWCF" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_INewsServiceWCF">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/Temporary_Listen_Addresses/news/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INewsServiceWCF"
                contract="NewsClientRef.INewsServiceWCF" name="BasicHttpBinding_INewsServiceWCF" />
            <endpoint address="net.tcp://localhost:3579/news/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_INewsServiceWCF" contract="NewsClientRef.INewsServiceWCF"
                name="NetTcpBinding_INewsServiceWCF">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>